<div class="sidebar">
  <div class="container">
    <div class="title">
      <h2>Quotations</h2>
    </div>
    <hr width="93%;" color="#d9d9d9" size="1">

    <div class="customer-details">

      <div class="customer-id">

        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Search for a Customer</mat-label>
            <!--  -->
            <input type="text" placeholder="Customer Name..." (input)="filterOptions(searchControl.value)"
              [ngModel]="customerQuery" matInput [formControl]="searchControl" [matAutocomplete]="auto">

            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option (onSelectionChange)="handleOptionSelection($event)">
                Register New Customer...
              </mat-option>
              <mat-option *ngFor="let option of options , let i = index;" [value]="option"
                (onSelectionChange)="optionSelected(option, $event)">
                {{option}}
              </mat-option>

            </mat-autocomplete>
          </mat-form-field>
        </form>

        <!-- <input type="text" [(ngModel)]="searchCustomerName" placeholder="Search for customer name.."
              (keyup)="searchCustomer()" (keyup.enter)="createQuotation(customer[0].customerId)"/> -->




        <div class="quotation-info">
          <p> Quotation ID : 
            <input type="text" *ngIf="quotationId=== null" placeholder="Search Quotation ID">
            <input type="number" *ngIf="quotationId!== null" [placeholder]="quotationId"
              (keyup.enter)="searchQuotationById(searchQuotationId.valueAsNumber )" #searchQuotationId>
          </p>
          <!-- <p> Quotation Date : {{quotationDate}}</p> -->
          <!-- <mat-form-field class="custom-input-size">
            <mat-label>Input</mat-label>
            <input  type="text"  matInput   >
          </mat-form-field>
          <p class="date">Date : {{quotationDate}}</p> -->
        </div>
      </div>

      <div>
        <table class="quotation-table">
          <thead>
            <tr>
              <!-- <th>SKU</th> -->
              <th>Part Name</th>
              <th>Part ID</th>
              <th>Unit Price</th>
              <th>Qty</th>
              <th>Delete</th>
            </tr>
          </thead>
          <div class="divider"></div>
          <tbody class="quotation-table-item">
            <tr *ngFor="let part of partsInQuotation; let i = index">
              <td (click)="searchPart(part.sku)"> {{part.partName }}</td>
              <td>{{ part.partId }}</td>
              <td>
                <input type="number" [(ngModel)]="part.overridePrice" [placeholder]="part.unitPrice" #overridePrice
                  (keyup.enter)="updateQuotationPart(part.overridePrice || part.unitPrice,'price',part.quantity,part.unitPrice,part.quotePartId)">
              </td>
              <td>
                <input type="number" [(ngModel)]="part.overrideQuantity" [placeholder]="part.quantity" #overrideQuantity
                  (keyup.enter)="updateQuotationPart(part.overrideQuantity || part.quantity,'quantity',part.quantity,part.unitPrice,part.quotePartId)">
              </td>
              <td>
                <button class="button" (click)="onDeleteClick(i,part.quotePartId,part.warehouseName)">Del</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="column-container">
        <hr width="100%;" color="#d9d9d9" size="1" margin-left="15px">
        <div class="buttons-box">

          <p>Total Price: RM {{calculateTotalPrice()}}</p>


          <button (click)="submitQuotation()" class="submit-button">Submit Quotation</button>

          <button (click)="clearQuotation()" class="cancel-button">Cancel</button>

          <div id="snackbar">Quotation Successfully Submitted!</div>
        </div>
      </div>
    </div>

  </div>