<div class="sidebar">
    <div class="container">
      <div class="title">
        <h2>Quotations</h2>
      </div>
      <hr width="93%;" color="#d9d9d9" size="1">
  
      <div class="customer-details">
        
        <div class="customer-id">
         
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <mat-label>Search for a Customer</mat-label>
                <!--  -->
                <input type="text" placeholder="Customer Name..." (input)="filterOptions(searchControl.value)"
                [ngModel]="customerQuery" matInput [formControl]="searchControl" [matAutocomplete]="auto" >

                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of options , let i = index;" [value]="option">
                      {{option}}
                    </mat-option>  
                    <mat-option (onSelectionChange)="handleOptionSelection($event)">                      Register New Customer...
                    </mat-option>              
                </mat-autocomplete>
              </mat-form-field>
            </form>

          <!-- <input type="text" [(ngModel)]="searchCustomerName" placeholder="Search for customer name.."
              (keyup)="searchCustomer()" (keyup.enter)="createQuotation(customer[0].customerId)"/> -->

        </div>
  
        <div class="quotation-info">
          <p class="quotation-id">Quotation ID : {{quotationId}}</p>
          <p class="date">Date : {{quotationDate}}</p>
        </div>
      </div>
  
      <div>
      <table  class="quotation-table">
        <thead>
          <tr >
            <!-- <th>SKU</th> -->
            <th>{{quoteDetail}}</th>
            <th>Part ID</th>
            <th>Unit Price</th>
            <th>Delete</th>
          </tr>
        </thead>
        <div class="divider"></div>
        <tbody class="quotation-table-item">
            <tr *ngFor="let customers of quoteDetail,let i = index">
              <td>{{quoteDetail[0].parts[i].partId}}</td>
              <td>DUmmy</td>
              <td>Dummy</td>
              <td>DUmmmy</td>
            <td>
              <button class="button" (click)="onDeleteClick()">Del</button>
            </td>
          </tr>
        </tbody>        
      </table>
    </div>

      <div class="column-container">
          <hr width="100%;" color="#d9d9d9" size="1" margin-left="15px">  
        <div class="buttons-box">

          <p>Total Price: RM XXXXX.XX</p>

        <button (click)="openModal('submit')" class="submit-button">Submit Quotation</button>
  
        <button (click)="openModal('cancel')" class="cancel-button">Cancel</button>

        <!-- <button mat-button (click)="openRegistrationForm()" class="register-button">Register</button> -->
      </div>
     </div>
    </div>
  </div> 