<!-- login.component.html -->
<div class="background">
    <div class="content-container">
      <div class="company-name">
        Company Name
      </div>
      <div class="login-container">
        <div class="login-box">
          <div class="login-header">
            Login
          </div>

            <hr width="93%;" color="#d9d9d9" size="1"   >

          <div class="login-form">
            <label for="email"></label>
            <input [(ngModel)]="userEmail" type="email" id="email" name="email" placeholder="Enter your email" >
  
            <label for="password"></label>
            <input [(ngModel)]="userPassword"type="password" id="password" name="password" placeholder="Enter your password"(keyup.enter)="onLogin(userEmail, userPassword)"/>
  
            <button (click)="onLogin(userEmail,userPassword)">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  