<body>
  <!-- registration.component.html -->
  <h1>Register Customer Profile</h1>
  <form [formGroup]="registrationForm" (ngSubmit)="registerCustomer()">
    <!-- Name and Contact Section -->
    <div class="name_contact">
      <div class="input_header">
        <h3>Customer Name</h3>
        <h3>Customer Contact</h3>
      </div>
      <div class="input_bar">
        <input formControlName="name">
        <input formControlName="contact">
      </div>
    </div>
  
    <!-- Email Section -->
    <div class="email">
      <div class="input_header">
        <h3>Email</h3>
      </div>
      <div>
        <input class="input_bar" formControlName="email">
      </div>
    </div>
  
    <!-- Address Section -->
    <div class="address">
      <div class="input_header">
        <h3>Address</h3>
      </div>
      <div class="input_bar">
        <input formControlName="address1">
      </div>
      <div class="input_bar">
        <input formControlName="address2">
      </div>
    </div>
  
    <button type="submit">Register</button>
  </form>
</body>