<body mat-dialog-content>

  <div mat-dialog-actions class="closefield">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <button mat-icon-button mat-dialog-close class="closebutton">
      <mat-icon>close</mat-icon>
    </button>
  </div>

<div class="form-title">
  <p mat-dialog-title>Customer Profile Registration</p>
</div>

  <form (ngSubmit)="registerCustomer()" [formGroup]="registrationForm">
    <div class="name_contact">
      <div class="input_header">
        <div class="first">
          <h3>Customer Name</h3>
        </div>
        <div class="second">
          <h3>Customer Contact</h3>
        </div>
      </div>
      <div class="splitbars">
        <div class="first">
        <input type="text" formControlName="name" placeholder="Name...">
        </div>
        <div>
        <input type="text" formControlName="contact" placeholder="Phone Number...">
        </div>
      </div>
    </div>
  
    <div class="email">
      <div class="input_header">
        <h3>Email</h3>
      </div>
      <div>
        <input type="text" class="input_bar" formControlName="email" placeholder="E-Mail..." >
      </div>
    </div>
  
    <div class="address">
      <div class="input_header">
        <h3>Address</h3>
      </div>
      <div>
        <input type="text" class="input_bar" formControlName="address1" placeholder="Address Line 1">
      </div>
      <div>
        <input type="text" class="input_bar" formControlName="address2" placeholder="Address Line 2">
      </div>
    </div>
  
    <div class="submitfield"><button class="submit" type="submit">Register</button></div>
  </form>
</body>
