/* layout.component.scss */

/* Common Styles */
.primary-bg {
  background-color: #2894fc; 
}

/* Header Styles */
.app-header {
  padding-left: 5px;
  padding-bottom: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #2894fc;
  width: 99.65vw;
  height: 3.5vh;
  white-space: nowrap;
  display: flex;
}

@media only screen and (max-width:1400px) {
  .user-info {margin-right:11vw}
}

.company-info {
  cursor: pointer;
  margin-left: 0.5vw;
  width:12.5%;
}

.app-title {
  text-align: center;
  color: #fff;
  font-size: 22px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 30vw;
  padding-top: 5px;
}

.user-info {
  // background-color: #b0b7bc;
  position: absolute;
  width: 15%;
  top:0;
  right:0;
  // margin-right: -0.05vw;
}

 .user-email {
  color: black;
  font-size: 18px;
  // padding-top:3px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;  
}

.logout-label {
  color: #b33c3c;
  background-color: transparent; 
  border:none; 
  padding-top:3px;
}

.logout-label:hover{
  cursor: pointer;
}

.logout {
  font-size: 25.25px;
  color: #b33c3c;

}

/* Sidebar Styles */
.sidebar {
  max-height: 91.5vh;
  height: 100%;
  width: 3.25%;
  max-width: 300px;
  background-color: #63a6e4;
  box-shadow: 1px 0 0 #e5e7eb;
  padding: 16px;
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  position: fixed; /* Fixed position on the left side */
}

.company-info .icon {
  color: #6f61ef;
  font-size: 32px;
  margin-right: 12px;
}

.company-name {
  color: #15161e;
  font-size: 22px;
  font-weight: 500;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: left;
  padding-top: 5px;
  padding-left: 5px;
}

.sidebar-item {
  width: 100%;
  background-color: #f1f4f8;
  border-radius: 8px;
  margin-bottom: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 4px;
  height: 5%;
  align-items: center;
  box-shadow: 3px 3px gray;
}


.item-label {
  color: #15161e;
  font-size: 100%;
  font-weight: 500;
  margin-left: 0.8vw;
  padding-top: 3px;
}

.sidebar-item:hover {
  background-color: #e5e7eb;
}

/* Content Styles */
.content {
  margin-left: 255px; /* Adjust based on sidebar width */
  flex-grow: 1;
  overflow-y: hidden;
  padding: 20px;
}