<!-- layout.component.html-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<header class="app-header">
  <div class="company-info" >

    <span class="company-name">Company Name</span>
  </div>

  <div class="app-title">
    <span>{{componentName}}</span>
  </div>

  <div class="user-info">
    <div class="user-details">
      <span class="user-email">{{userEmail}}</span>
      <button class="logout-label" (click)="logout()">Logout</button>
    </div>
  </div>
  
</header>

<div class="sidebar">
  

  <div class="sidebar-item" (click)="quotation()">

    <span class="item-label"><mat-icon>reorder</mat-icon> Quoting Items</span>
  </div>

  <div class="sidebar-item"(click)="onHistory()">

    <span class="item-label"><mat-icon>receipt</mat-icon> History</span>
  </div>
  <!-- <div class="user-info">
    <div class="user-details">
      <span class="user-email">userEmail</span>
      <button class="logout-label" (click)="logout()">Logout</button>
    </div>
  </div> -->
</div>
