<!-- layout.component.html-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<header class="app-header">
    
      <span class="company-name">Company Name</span>
    
      <span class="app-title">{{componentName}}</span>

    <div class="user-info">
        <span class="user-email">{{userEmail}}</span>
        
        <button class="logout-label" (click)="logout()"><mat-icon>input</mat-icon></button>
    </div>
  
</header>

<div class="sidebar">
  

  <div class="sidebar-item" (click)="quotation()">

    <span class="item-label"><mat-icon>reorder</mat-icon></span>
  </div>

  <div class="sidebar-item"(click)="onHistory()">

    <span class="item-label"><mat-icon>receipt</mat-icon></span>
  </div>
  <!-- <div class="user-info">
    <div class="user-details">
      <span class="user-email">userEmail</span>
      <button class="logout-label" (click)="logout()">Logout</button>
    </div>
  </div> -->
</div>
