<!-- history-page.component.html -->

<app-layout></app-layout>
<div class="content">
  <div class="search-bar">
    <div class="search-input">
      <input type="text" [(ngModel)]="searchQuery" placeholder="Search for customer id...." (keyup.enter)="openSnackBar()" />
      <button class="button button-submit" (click)="openSnackBar()">Search</button>
    </div>
  </div>

  <div class="header-row">
    <span class="span1">Customer ID</span>
    <span class="span2">Quote ID</span>
    <span class="span3">Email</span>
    <span class="span4">Date</span>
  </div>
  <div class="customer-table-container">
    <table class="customer-table">
      <tbody>
        <tr *ngFor="let customer of mockupCustomers; let i = index" class="customer-item">
          <td>{{ customer.customer_id }}</td>
          <td>{{ customer.name }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.phone }}</td>
          <td>
            <button class="button button-view" (keyup.enter)="openSnackBar()" (click)="openSnackBar()">View quote</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  

  <!-- Include the content of the detail-sidebar directly -->
  <div class="sidebar-history">
    <div class="container">
      <div class="title">
        <span>Details</span>
      </div>
      <hr width="93%;" color="#d9d9d9" size="1">

      <div class="customer-details">
        <div class="customer-id">
          <p>Current customer ID: {{mockupCustomers[0].customer_id}}</p>
          <div class="customer-name">
            <p>Customer Name: {{mockupCustomers[0].name}}</p>
          </div>
        </div>

        <div class="quotation-info">
          <p class="quotation-id">[Quotation ID]</p>
          <p class="date">[Date]</p>
        </div>
      </div>

      <div>
        <table class="quotation-table">
          <thead>
            <tr>
              <th>No.</th>
              <th>Part Name</th>
              <th>Part ID</th>
              <th>Unit Price (RM)</th>
            </tr>
          </thead>
          <div class="divider"></div>
          <tbody class="quotation-table-item">
            <tr *ngFor="let item of quotationList; let i = index">
              <td>{{ i + 1 }}</td>
              <td class="partName">{{ item.partName }}</td>
              <td>[Part ID]</td>
              <td>[Unit Price]</td>
              <td>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

  
    </div>
  </div>
</div>

<div id="snackbar">Success!</div>
