<meta name="viewport" content="width=device-width, initial-scale=1.0">

<app-layout></app-layout>
<div class="content">
  <div>
    <div class="search-bar">
      <div class="search-input">
        <input type="text" [(ngModel)]="searchQuery" placeholder="Search for customer name...."
          (keyup)="searchCustomerOnSearchBar(searchQuery)" />
        <button class="button button-submit" (click)="searchCustomerOnSearchBar(searchQuery)">Search</button>
      </div>
    </div>
  </div>
  <div class="header-row">
    <table class="customer-table">
      <thead>
        <tr>
          <th class="span1">ID</th>
          <th class="span2">Name</th>
          <th class="span3">Phone</th>
          <th class="span4">Email</th>
          <th>Action<button class="button button-add" (click)="openSnackBar()">Add new customer</button></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of selectedCustomer; let i = index" class="customer-item">
          <td>{{ customer.customerId}}</td>
          <td>{{ customer.customerName }}</td>
          <td>{{ customer.customerContact }}</td>
          <td>{{ customer.customerEmail }}</td>
          <td>
            <button class="button button-view" (click)="searchQuotation(i, customer.customerId)">View quote</button>
          </td>
        </tr>
      </tbody>

    </table>
  </div>
  <div class="page-selector">
    <button *ngIf=" currentPage>1" (click)="goToPage('prev','customer')">Previous</button>
    <span>Page <input type="number" [(ngModel)]="currentPage" (change)="goToPageInput('customer')" />
      of {{ totalPage }}</span>
    <button *ngIf="totalPage> currentPage" (click)="goToPage('next','customer')">Next</button>
  </div>


</div>


<div class="sidebar-history">
  <div class="container">
    <div class="title">
      <span>Details</span>
    </div>
    <hr width="93%;" color="#d9d9d9" size="1">

    <div *ngIf="showQuotationListItemBoolean === 0 ">
      <p>No customer selected</p>
    </div>
    <div *ngIf="showQuotationListItemBoolean >0">
      <div class="customer-details">
        <div class="customer-id">
          <p>Current customer ID: [{{selectedCustomer[onclickCustomer].customerId }}]</p>
          <div class="customer-name">
            <p>
              <button *ngIf="showQuotationListItemBoolean === 1  &&  showQuotationListDetailItemBoolean === 1"
                class="button-return" (click)="showCustomerDetails()">
                &#8617;
              </button>


              Customer Name: {{ selectedCustomer[onclickCustomer].customerName }}
            </p>
          </div>
        </div>
      </div>



      <div *ngIf="showQuotationListItemBoolean ===0">
        <h4>No Completed Quotations</h4>
      </div>
      <div
        *ngIf="pendingQuotationList ===null  && showQuotationListItemBoolean ===1  &&  showQuotationListDetailItemBoolean !== 1">
        <h4>No Pending Quotations</h4>
      </div>
      <!-- Display Pending Quotations -->
      <div
        *ngIf="showQuotationListItemBoolean === 1 && pendingQuotationList !==null   &&  showQuotationListDetailItemBoolean !== 1">
        <h4>Pending Quotations</h4>
        <table class="quotation-table-pending">
          <thead>
            <tr>
              <th>No.</th>
              <th>Quotation ID</th>
              <th>Date</th>
              <th>Valid Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="quotation-table-item">
            <tr *ngFor="let item of pendingQuotationList; let i = index">
              <ng-container *ngIf="pendingQuotationList !== null">
                <td>{{ i + 1 }}</td>
                <td class="partName">{{item.quoteNo}}</td>
                <td>{{item.quoteDate}}</td>
                <td>{{item.quoteValidDate}}</td>
                <td>
                  <button class="button button-view-side"
                    (click)="editQuote(item.quoteNo, selectedCustomer[onclickCustomer].customerId)">Edit
                    quote</button>
                </td>
              </ng-container>
            </tr>
          </tbody>
          
        </table>
        <div *ngIf="pendingListIndicator ===0">

          <button *ngIf="pendingQuotationCurrentPage > 1" (click)="goToPage('prev','pending')"
            class="pagination-btn">Previous</button>

            <span>Page  <input type="number" [(ngModel)]="pendingQuotationCurrentPage" (change)="goToPageInput('pending')"
            class="pagination-input" /> of {{ pendingQuotationTotalPage }} </span>

          <button *ngIf="pendingQuotationTotalPage > pendingQuotationCurrentPage" (click)="goToPage('next','pending')"
            class="pagination-btn">Next</button>

        </div>
      </div>





      <div *ngIf="showQuotationListItemBoolean ===0">
        <h4>No Completed Quotations</h4>
      </div>
      <div
        *ngIf="completedQuotationList=== null && showQuotationListItemBoolean ===1 &&  showQuotationListDetailItemBoolean !== 1">
        <h4>No Completed Quotations</h4>
      </div>
      <div
        *ngIf="showQuotationListItemBoolean === 1 && completedQuotationList !==null  &&  showQuotationListDetailItemBoolean !== 1">
        <h4>Completed Quotations</h4>
        <table class="quotation-table-completed">
          <thead>
            <tr>
              <th>No.</th>
              <th>Quotation ID</th>
              <th>Date</th>
              <th>Valid Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="quotation-table-item">
            <tr *ngFor="let item of completedQuotationList; let i = index">
              <ng-container *ngIf="completedQuotationList !== null">
                <td>{{ i + 1 }}</td>
                <td class="partName">{{item.quoteNo}}</td>
                <td>{{item.quoteDate}}</td>
                <td>{{item.quoteValidDate}}</td>
                <td>
                  <button class="button button-view-side"
                    (click)="searchQuotationListDetailItem(item.quoteNo, selectedCustomer[onclickCustomer].customerId)">View
                    details</button>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="showQuotationListDetailItemBoolean === 1">
        <h4>Quotation details</h4>

        <!-- Your detail bar content goes here -->
        <table class="quotation-table-detail">
          <thead>
            <tr>
              <th>No.</th>
              <th>Part ID</th>
              <th>Part Name</th>
              <th>Quantity</th>
              <th>Unit Price (RM)</th>
            </tr>
          </thead>
          <tbody class="quotation-table-item">
            <tr *ngFor="let item of quotationList; let i = index">
              <td>{{ i + 1 }}</td>
              <td class="partName">{{item.partId}}</td>
              <td>{{item.partName}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.unitPrice}}</td>
              <td></td>
            </tr>

            <tr>
              <td colspan="4"></td>
              <td>Total Price: {{totalAmountOfQuotationList.toFixed(2)}}</td>
            </tr>



          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>






<div id="snackbar">Success!</div>