<!-- Header-->


  
<!-- Body -->
<!-- Left Bar -->

    <app-layout class="content"></app-layout>



<!-- Right Bar -->
<div>
 <app-quotation-sidebar class="sidebar-history"></app-quotation-sidebar>
</div>

<!-- Center -->
<body>

    <!-- search bar
    <div class="searchCard">
        <div class="searchBar">
            <i class="fa fa-search"></i>
            <input type="text" [(ngModel)]="searchQuery" [placeholder]="'Search for SKU...'"  class="skuSearch" (keyup.enter)="onSearch()">
            <button type="click" (click)="onSearch()">Search</button>        
        </div>
    </div> -->
    <div class="searchCard">
        <div class="searchBar">
            <input type="text" tabindex="1" [(ngModel)]="searchQueryPart" placeholder="Search for product SKU...."
            (keyup)="searchPart(searchQueryPart)" />
          <button class="button button-submit" tabindex="2"(click)="searchPart(searchQueryPart)">Search</button>        
        </div>
    </div>

    <!-- search results-->
    <div class="searchResults">
            <table> 
                <span>
                <thead>
                    <tr class="product-list">
                        <th>SKU</th>
                        <th>Name</th>
                        <th>Manu.</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Warehouse</th>
                        <th><div class="blankspace"></div></th>
                        <th><div class="blankspace"></div></th>
                        <th><div class="blankspace"></div></th>
                    </tr>
                </thead>
            </span>

            <tbody>
                <tr *ngFor="let part of filteredproducts">
                    <td>{{part.sku}}</td>
                    <td>{{part.partName}}</td>
                    <td>{{part.supplierName}}</td>
                    <td>{{part.totalQuantity}}</td>
                    <td>{{part.sellingPrice}}</td>
                    <td>{{part.WarehouseName}}</td>
                    <td>
                        <input type="number" tabindex="3" [placeholder]="'Qty...'" [max]="part.totalQuantity" #quantityInput>
                    </td>
                    <td>
                        <input type="number" tabindex="3" [placeholder]="part.sellingPrice"   #priceInput >
                    </td>
                    <td><button class="addQuote" (click)="addPartToQuotation(customerId,quotationIdd,part.partId, quantityInput.valueAsNumber, priceInput.valueAsNumber,part.partName,part.sellingPrice)">+</button></td>
                </tr>
            </tbody>
            

        </table>
    </div>




    <!-- Alternative Results similar to Search Results-->
    <div class="alternateText">
        <!-- <h1 >Alternative Products Similar to {{productdetails[0].partName}}...</h1> -->
        <h1 >Alternative Products Similar to ...     </h1>
    </div>
    <div class="alternateTable">
        <table>
            <span>
                <thead>
                <tr>
                    <th>SKU</th>
                    <th>Part Name</th>
                    <th>Manufacturer</th>
                    <th>Quantity Left</th>
                    <th>Price</th>
                    <th>Warehouse</th>
                    <th><div></div></th>
                    <th><div></div></th>
                </tr>
                        </thead>
            </span>
        <tbody>
            <tr *ngFor="let product of similarProducts;let i = index;" class="product-info">
              
                <td>{{product.sku}}</td>
                <td>{{product.partName}}</td>
                <td>{{product.supplierName}}</td>
                <td>{{product.totalQuantity}}</td>
                <td>{{product.sellingPrice}}</td>
                <td>{{product.WarehouseName}}</td>
                <!-- <td>[SKU]</td>
                <td>[partName]</td>
                <td>[manufacturer]</td>
                <td>[quantityLeft]</td>
                <td>[Price]</td>
                <td>[Warehouse]</td> -->
                <td>
                    <input type="number" tabindex="4" [placeholder]="'Qty...'" [max]="product.totalQuantity" #quantityInput>
                </td>
                <td>
                    <input type="number" tabindex="4" [placeholder]="product.sellingPrice" [(ngModel)]="product.NewPrice" #priceInput >
                </td>
                <td><button class="addQuote" (click)="addPartToQuotation(customerId,quotationIdd,product.partId, quantityInput.valueAsNumber , priceInput.valueAsNumber,product.partName,product.sellingPrice)">+</button></td>

            </tr>
        </tbody>
        </table>
    </div>

</body>