body {
    margin-left : 14%;
    margin-right :30%;
    width : 58vw;
    height: 94.5vh;
}

// .search-history {
//     float: right;
// }


//search bar
.searchCard {
    width: 100%;
    height: 45px;
    margin-left: 1vw;
}

.searchBar input {
    width :80%;
    margin-left: 1.35%;
    border:none;
    border-radius: 8px;
    height: 30px;
    margin-top: 8px;
    background-color: #F1F0F0;
    outline-color: grey;
}

.searchBar button {
    border: none;
    border-radius: 10px;
    background-color: #52abfc;
    width: 12.5%;
    height: 4.5vh;
    margin-left: 10px;
    color:white;
    font-weight: bold;
    font-size: 100%;
}



//search results table
.searchResults {
    min-height: 30%;
    max-height: 40%;
    width: 100%;
    margin-left: 1%;    
    text-align: center;  
}

.searchResults thead {
    display :inline-block;
    }

.searchResults span{
    height: 30px;
    background-color: #52abfc;
    border-radius: 8px;
    border:none;
    width: 100%;
    display: block;
}

.searchResults th,td {
    width: 6.05vw;
    color: black;
}

.searchResults tbody, thead{
    display: inline-block;
}

.searchResults td input {
    width: 4vw;    
}

.blankspace {
    background-color: #52abfc;
    width: 5vw;
}

.blankspace-button{
    width: 100%;
}

.addQuote {
    font-weight: bold;
    background-color: #52abfc;
    border:none;
    border-radius: 12px;
    width:75%;
    height: 30px;
    color: white;
    font-size:16px;
}

.addQuote:hover {
    cursor:pointer;
}

//TEXT FOR THE ALTERNATE PRODUCT
.alternateText {
    color:gray;
    margin-left: 2%;
}



    //ALternate products table
    .alternateTable {
        height: 30%;
        width: 100%;
        margin-left: 1%;
        text-align: center;    
        margin-top: -15px;
    }

    .alternateTable thead {
        display :inline-block;
        }

    .alternateTable span{
        height: 30px;
        background-color: #52abfc;
        border-radius: 8px;
        border:none;
        width: 100%;
        display: block;
    }

    .alternateTable th,td {
        width: 6.05vw;
        color: black;
    }

    .alternateTable tbody{
        display: inline-block;
    }

    .alternateTable td input {
        width: 4vw;
    }